/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  background: linear-gradient(90deg, #38bdf8, #9333ea);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin: 15px 0;
}

.btn {
  padding: 10px 25px;
  border-radius: 25px;
  background: linear-gradient(90deg, #38bdf8, #9333ea);
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

/* Sections */
.section {
  padding: 80px 8%;
  text-align: center;
}

.section h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #38bdf8;
}

/* Skills */
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background: #1e293b;
  padding: 20px 40px;
  border-radius: 15px;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);
  background: linear-gradient(90deg, #38bdf8, #9333ea);
}

/* Projects */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.project-card {
  background: #1e293b;
  padding: 25px;
  width: 280px;
  border-radius: 15px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  background: linear-gradient(135deg, #38bdf8, #9333ea);
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

textarea {
  resize: none;
  height: 100px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .section {
    padding: 60px 5%;
  }
}
